.big-nav-arrow {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 32px;
  border: none;
  cursor: pointer;
  padding: 15px;
  transition: background 0.2s ease-in-out, opacity 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  pointer-events: auto;
  z-index: 10;
}

.big-nav-arrow.left {
  left: 5%;
}

.big-nav-arrow.right {
  right: 5%;
}

.big-nav-arrow:not(.disabled):hover {
  background: rgba(255, 255, 255, 0.3);
  color: #ddd;
}

.big-nav-arrow.disabled {
  background: rgb(255, 102, 0);
  color: white;
  cursor: not-allowed;
  opacity: 1;
}
