/* CustomButton.css */
.custom-button {
  background: #b32d00;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 6px;
  color: white;
  transition: background 0.3s ease;
}

/* Replace hover with :active for mobile as well, but keep hover for desktop */
.custom-button:hover {
  background: #d14014;
}
.custom-button:active {
  background: #d14014;
  transform: scale(0.98);
}

.custom-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
