.nav-arrow {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 32px;
  border: none;
  cursor: pointer;
  padding: 15px;
  transition: background 0.2s ease-in-out, opacity 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 5%;
}

/* Enabled Button Hover */
.nav-arrow:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #ddd;
}

/* Disabled Button State */
.nav-arrow:disabled {
  opacity: 0.2;
  cursor: not-allowed;
  background: rgba(50, 50, 50, 0.3);
  color: rgba(100, 100, 100, 0.4);
  transition: none;
}
